    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Sarpanch:700&display=swap');
    /*
 =============================== 
 General 
 =============================== 
 */
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .row,
    .container,
    .container-fluid {
        margin: 0;
        padding: 0;
    }
    
    body {
        padding: 0;
        min-height: 100vh;
        font-size: 1rem;
        background-image: url("../images/bg1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    
    main {
        flex: 1;
    }
    
    .slogan>p {
        text-shadow: 2px 2px 2px hsla(234, 79%, 72%, 0.705);
    }
    
    .logo {
        text-align: inline-block;
        height: 70px;
    }
    
    #home {
        text-align: center;
    }
    
    .search-content {
        display: inline-block;
    }
    
    .slogan {
        text-align: center;
        font-family: 'Sarpanch', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(166, 200, 207);
    }
    
    .musixmatch-logo {
        height: 32px;
        max-width: 50%;
        margin-bottom: 10px;
    }
    
    .artist {
        margin-left: 25px;
    }
    
    #form,
    .search-content {
        color: #fafafa;
    }
    
    .search-content {
        margin: 20px;
        padding: 20px;
    }
    
    .form-group {
        width: 70%;
        margin: 0 auto;
    }
    
    .form-control,
    label.form-check-label {
        color: rgb(166, 200, 207);
        margin: 15px;
    }
    
    .form-check-input {
        position: initial;
        margin-top: 0;
        margin-left: 0;
    }
    
    .form-control {
        display: inline-block;
        -webkit-box-shadow: 3px 1px 5px -3px rgba(230, 214, 230, 1);
        -moz-box-shadow: 3px 1px 5px -3px rgba(230, 214, 230, 1);
        box-shadow: 3px 1px 5px -3px rgba(230, 214, 230, 1);
    }
    
    .btn-success {
        -moz-box-shadow: 0px 1px 0px 0px #7094a3;
        -webkit-box-shadow: 0px 1px 0px 0px #7094a3;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02141a), color-stop(1, #019ad2));
        background: -moz-linear-gradient(top, #02141a 5%, #019ad2 100%);
        background: -webkit-linear-gradient(top, #02141a 5%, #019ad2 100%);
        background: -o-linear-gradient(top, #02141a 5%, #019ad2 100%);
        background: -ms-linear-gradient(top, #02141a 5%, #019ad2 100%);
        background: linear-gradient(to bottom, #02141a 5%, #019ad2 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#02141a', endColorstr='#019ad2', GradientType=0);
        background-color: #02141a;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #184e70;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        padding: 6px 15px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #455eba;
        margin: 10px;
    }
    
    .btn-success:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #02141a));
        background: -moz-linear-gradient(top, #019ad2 5%, #02141a 100%);
        background: -webkit-linear-gradient(top, #019ad2 5%, #02141a 100%);
        background: -o-linear-gradient(top, #019ad2 5%, #02141a 100%);
        background: -ms-linear-gradient(top, #019ad2 5%, #02141a 100%);
        background: linear-gradient(to bottom, #019ad2 5%, #02141a 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#02141a', GradientType=0);
        background-color: #019ad2;
    }
    
    .btn-success:active {
        position: relative;
        top: 1px;
    }
    /* 
==============================================
styling for placeholder text in the search box
============================================= 
*/
    /* all */
    
     ::-webkit-input-placeholder {
        color: rgb(166, 200, 207) !important;
    }
    /* Chrome/Opera/Safari */
    
     ::-webkit-input-placeholder {
        color: rgb(166, 200, 207) !important;
    }
    /* Chrome/Opera/Safari */
    
     ::-moz-placeholder {
        color: rgb(166, 200, 207) !important;
    }
    /* firefox 19+ */
    
     ::-ms-input-placeholder {
        color: rgb(166, 200, 207) !important;
    }
    /* ie */
    
     ::-moz-placeholder {
        color: rgb(166, 200, 207) !important;
    }
    
    .fab {
        margin: 10px;
        font-size: 1.3rem;
        color: #fafafa;
    }
    
    footer {
        flex-wrap: nowrap !important;
        padding-bottom: 10px;
        font-size: 1rem;
        color: #fafafa !important;
        text-align: center;
    }
    /* Landscape phones and portrait tablets */
    
    @media screen and (min-width: 767px) {
        .slogan {
            margin: 20px;
            margin-top: 10px;
            font-size: 1.6rem;
        }
        a {
            font-size: 1.4rem;
        }
        .fab {
            font-size: 1.4rem;
            padding: 6px;
        }
    }