@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sarpanch:700&display=swap');

/*
 =============================== 
 General 
 =============================== 
 */

body,
html {
    height: 100%;
    margin: 0;
}

.row,
.container,
.container-fluid {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    min-height: 100vh;
    font-size: 1rem;
}

.bg {
    background-image: url("../images/wat-bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    text-align: inline-block;
}

.slogan {
    text-align: center;
    font-family: 'Sarpanch', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ea5128;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ea5128 !important;
    text-decoration: none;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.wrapper {
    width: 70%;
    margin: 10px auto;
}

.form-control,
label.form-check-label {
    color: #ea5128; 
}

.btn-success {
    background-color: #ea5128 !important;
    border: none;
}
/* 
==============================================
styling for placeholder text in the search box
============================================= 
*/


/* all */

 ::-webkit-input-placeholder {
    color: #ea5228b0 !important;
}


/* Chrome/Opera/Safari */

 ::-webkit-input-placeholder {
    color: #ea5228b0 !important;
}


/* Chrome/Opera/Safari */

 ::-moz-placeholder {
    color: #ea5228b0 !important;
}


/* firefox 19+ */

 ::-ms-input-placeholder {
    color: #ea5228b0 !important;
}


/* ie */

 ::-moz-placeholder {
    color: #ea5228b0 !important;
}

.upcoming {
    height: 400px;
    width: 50%;
    margin: auto;
}

.upcoming>p {
    color: #ea5128;
    font-weight: 400;
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: #06212c00;
    color: #fafafa;
    text-align: center;
}

.footer-wrapper a {
    color: #fafafa !important;
}

.fab {
    margin: 10px;
    font-size: 1.3rem;
    color: #fafafa;
}

.footer-wrapper {
    flex-wrap: nowrap !important;
    padding-bottom: 5px;
    font-size: 1.2rem;
}


.contact-form {
    margin: auto;
    padding-top: 40px;
}

#faqs {
    margin: 15px 0px 15px 35px;
}

.musixmatch {
    height: 50px;
    width: 180px;
    padding: 0px 5px 10px 5px;
}


/* Landscape phones and portrait tablets */

@media screen and (min-width: 767px) {
    .slogan {
        margin: 20px;
        margin-top: 10px;
        font-size: 1.6rem;
    }
    .modal-help {
        margin-right: 20px;
    }
    a {
        font-size: 1.4rem;
    }
    .fab {
        font-size: 1.8rem;
        padding: 6px;
    }
